# PlatformIO
**/.pio
**/.vscode
**/.clangd
**/.mypy_cache
**/.pytest_cache
**/Thumbs.db
**/Thumbs.db:encryptable
**/.DS_Store
**/core
**/lib_deps
**/data
**/test
**/out
**/tmp
**/.idea
*.pyc
*.pyo
*.pyd
*.swp
*.swo
__pycache__/
*.bak
*.log
*.tmp
*.temp
*.d
*.elf
*.map
*.hex
*.ld
